.card-container {
    color:whitesmoke;

    display: flex;
    flex-direction:column;
    background-color: #1f1717;
    border:1px solid whitesmoke;
    border-radius:25px;
    cursor:pointer;
    padding:25px;
    backface-visibility: hidden;
    transform:translateZ(0);
    transition:transform 0.25s ease-out;   
}

.card-container:hover {
    transform: scale(1.05);
} 